# General data directory
data/

# Specific service data directories
uptime-kuma/data/
pihole-unbound/etc_pihole*
!traefik/data/

# Sensitive files
acme.json
*.db
*.db-shm
*.db-wal


# Temporary files
*.tmp
*.log