# General data directory
data/

# Specific service data directories
uptime-kuma/data/
pihole-unbound/etc_pihole*
!traefik/data/
!homepage/data

# Sensitive files
acme.json
*.db
*.db-shm
*.db-wal
cf_api_token.txt
.env


# Temporary files
*.tmp
*.log